<!-- <nav class="navbar navbar-light navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="../../assets/Group 3logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    edKonnect
  </a>
</nav> -->



<nav class="navbar navbar-expand-sm navbar-light ncovHeader">
  <a class="navbar-brand headerLogo" href="#">
    <img src="../../assets/Group 3logo.png" width="30" height="30" class="d-inline-block align-bottom" alt="MedKonnect">edKonnect
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/need'">Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/have'">Provide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/build'">Build</a>
      </li>
          </ul>
      </div>
</nav>
