@import '../../styles.scss';
@import '../../scss/variables';
@import '../../scss/bootstrap';

.ncovHeader{
    background-color: transparent;
    padding-right: 6%;

}

.headerLogo{
    font-size: $spacer * 1.5;
    line-height: $spacer * 1.8125;
    color: $header-logo;
}

.imgLogo{
    padding-bottom: 5px;
}

.headerButton{
    font-size: $spacer * 1.25;
    line-height: $spacer * 1.5;
}

.navbar-light .navbar-nav .nav-link {
    color: $white;
    opacity: 0.9;
}

/****************************Sticky Header Class********************************/

.active{
    background-color: $white !important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.active .navbar-nav .nav-link{
    color: $black !important;
}