<div class="footer mt-3">
  <div class="footer__content">
    <div class="footer__contact-us pt-3">
      <p class="footer__contact-us_text text-center">Contact Us</p>
    </div>
    <div class="mt-5">
      <div class="footer__social-icons">
        <div class="d-flex justify-content-center">
          <a class="footer__social-icon-link" href="https://www.facebook.com/MedKonnect.org/
             ?ref=aymt_homepage_panel&eid=ARBLqUu54UeYlmO7Xt4xH4rXUTxBfn4GHC
             -GNYNvfnn6sDE4D397zz8XZrhMX8Ojixq6KWQOtLEWJu08">
            <i class="footer__social-icon mx-1 fab fa-facebook-f"></i>
          </a>
          <i class="footer__social-icon mx-1 fab fa-twitter"></i>
          <i class="footer__social-icon mx-1 fab fa-linkedin-in"></i>
          <i class="footer__social-icon mx-1 fab fa-instagram-square"></i>
        </div>
      </div>
      <div class="footer__copyright mx-0 mt-2">
        <p class="footer__copyright-text text-center mb-0">&copy; 2020 by Med Konnect</p>
      </div>
    </div>
  </div>
</div>
