<div class="footer mt-3">
  <div class="footer__content">
    <div class="footer__contact-us pt-3">
      <p class="footer__contact-us_text text-center">Contact Us</p>
    </div>
    <div class="mt-5">
      <div class="footer__social-icons">
        <div class="d-flex justify-content-center">
          <i class="footer__social-icon mx-1 fab fa-facebook-f"></i>
          <i class="footer__social-icon mx-1 fab fa-twitter"></i>
          <i class="footer__social-icon mx-1 fab fa-linkedin-in"></i>
          <i class="footer__social-icon mx-1 fab fa-instagram-square"></i>
        </div>
      </div>
      <div class="footer__copyright mx-0 mt-2">
        <p class="footer__copyright-text text-center mb-0">&copy; 2020 by Med Konnect</p>
      </div>
    </div>
  </div>
</div>
