@import "../../../scss/bootstrap";

.aboutusHeader{
font-weight: 600;
font-size: 36px;
line-height: 44px;
text-transform: capitalize;
color: $aboutusHeading;
}

.aboutusContent{
    font-weight: 600;
font-size: $spacer;
line-height: $spacer * 1.375;
text-align: justify;
text-indent: 3px;
color: $aboutusContent;
}