<div class="medkonnect-aboutus">
  <div class="container row mx-0">
    <div class="px-0 col-lg-8 d-none d-lg-block">
      <img src="assets/images/aboutus.png" class="img-responsive w-100">
    </div>
      <div class="col-lg-4 pt-5 d-none d-lg-block">
        <h1 class="header text-center aboutusHeader p-3">HOW DOES MEDKONNECT WORK?</h1>
        <p class="text aboutusContent p-3">
          In the light of the COVID-19 pandemic, the supply of PPE to medical professionals has been severely disrupted, while the suppliers are unable to react to shortages in providingthese resources efficiently.</p>
          <p class="text aboutusContent p-3">
            Our intelligent matching platform identifies and connects medical professionals facing critical shortages with suppliers who can supply them in the shortest possible time.    
          </p>
    </div>
 <!-- Respnsive screen code begin -->

  <div class="col-md-12 d-lg-none">
    <img class="d-block w-100" src="assets/images/aboutus-mobile.png" alt="AboutUs" />
  </div>
  <div class="col-md-12 d-lg-none">
    <h1 class="header text-center aboutusHeader p-3">HOW DOES MEDKONNECT WORK?</h1>
    <p class="text aboutusContent p-3">
      In the light of the COVID-19 pandemic, the supply of PPE to medical professionals has been severely disrupted, while the suppliers are unable to react to shortages in providing these resources efficiently.</p>
      <p class="text aboutusContent p-3">
        Our intelligent matching platform identifies and connects medical professionals facing critical shortages with suppliers who can supply them in the shortest possible time.    
      </p>
  </div>
 <!-- Respnsive screen code begin -->
</div>
</div> 