@import "../bootstrap";

.mk-form {
  &__form {
    max-width: 768px;
    margin: 0 auto;
  }
}

.mk-required::after {
  content: "*";
  color: $danger;
}

.formStyle {
  background-color: $white;
  border-radius: 12px;
}

.formStyle .form-control {
  border-bottom: 1px solid $black;
}

.formStyle label {
  font-family: 'Nunito-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-indent: 3px;
}

select.mk-select {
  width: 340px;
  height: 45px;
  background: url('/assets/images/drop.svg') no-repeat right;
  border-radius: 8px;
  padding-left: $spacer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include  media-breakpoint-down(md) {
    width: 240px;
  }
}
