.about-us {
  .font-icon {
    font-size: 8rem;
  }
  .section {
    height: 100vh !important;
    &:first-child {
      background: rgb(135, 135, 236);
      background: linear-gradient(
        180deg,
        rgba(135, 135, 236, 0.9) 0%,
        rgba(255, 255, 255, 1) 14%
      );
      @media (min-width: 576px) {
        background: inherit;
        background: inherit;
      }
    }
  }
  .who-are-we {
    background-image: url("../../assets/images/who-are-we.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .how-we-do-it {
    background-image: url("../../assets/images/how-we-do-it.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
