<div class="live-demands">
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light w-100">
      <div class="navbar-brand pl-md-3 pl-2 mx-auto mr-md-auto">Live Demands</div>
    </nav>

    <div class="text-center mt-3 w-75 justify-content-center mx-auto requestBannerContainer pt-5 row">
     <div class="col-12 px-0">
      <button type="button" class="btn request-btn" [routerLink]="'/need'">Reqest PPE</button>    </div>
    </div>

    <p class="mt-5 px-3 px-sm-5 text-center captionClass">You can view live demands here and propose offers. You can also post your own Request by clicking the "Request PPE button"</p>
    <div class="liveDemandsTable mx-auto mt-md-5 mt-3">
    <!-- Desktop view -->
    <div class="d-none d-lg-block">
      <div class="row columnHeading">
        <div class="col-2 font-weight-bold text-center"><p class="px-3">Requested By</p></div>
        <div class="col-2 font-weight-bold text-center"><p class="px-3">PPE Needed</p></div>
        <div class="col-2 font-weight-bold text-center"><p class="px-3">Certified PPE</p></div>
        <div class="col-2 font-weight-bold text-center"><p class="px-3">Location</p></div>
        <div class="col-2 font-weight-bold text-center"><p class="px-3">Required By</p></div>
        <div class="col-2 font-weight-bold text-center"><p class="px-3">Make a Proposal</p></div>
      </div>
      <div *ngFor="let row of tableData" class="row py-1">
        <div class="col-2"><p class="px-3 text-center">{{row.requestorName}}  {{row.hospitalNgo}}</p></div>
        <div class="col-2"><p class="px-3 text-center">{{row.ppe}}</p></div>
        <div class="col-2"><p class="px-3 text-center">{{row.certifiedPpe ? 'Yes' : 'No'}}</p></div>
        <div class="col-2"><p class="px-3 text-center">{{row.city}}</p></div>
        <div class="col-2"><p class="px-3 text-center">{{row.date}}</p></div>
        <div class="col-2"><button type="button" class="mk-btn-primary mx-auto w-100"  (click)="onSelectRow(row)" >Supply</button></div>
      </div>
    </div>
    <!-- Desktop view ends -->
    <!-- Mobile View -->
    <div *ngFor = "let row of tableData" class="live-demands__mobile d-block d-lg-none px-3 px-sm-5 mx-auto pb-3" >
      <div class="card">
        <div class="card-header"><h5>{{row.requestorName}} {{row.hospitalNgo}}</h5></div>
        <div class="card-body">
          <div class="row py-1">
            <div class="col-12 col-sm-3 py-1 font-weight-bold">PPE Needed</div>
            <div class="col-12 col-sm-9 py-1">{{row.ppe}}</div>
          </div>
          <div class="row py-1">
            <div class="col-12 col-sm-3 py-1 font-weight-bold">Location</div>
            <div class="col-12 col-sm-9 py-1">{{row.city}}</div>
          </div>
          <div class="row py-1">
            <div class="col-12 col-sm-3 py-1 font-weight-bold">Required By</div>
            <div class="col-12 col-sm-9 py-1">{{row.needBy | date: 'dd/MM/yyyy'}}</div>
          </div>
          <div class="row">
            <div class="col-6 ml-auto">
              <button type="button" class="mk-btn-primary mx-auto w-100"  (click)="onSelectRow(row)">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile view ends -->
  </div>
  </div>
</div>
