@import "../../scss/bootstrap";
@import "../../scss/forms/medkonnect-form";
@import "../../scss/forms/checkbox";
@import "../../scss/forms/radio";

.haveppe {
    background-color: $background-color;
    font-family: 'Nunito-Regular';
  }

  .firstCard {
    border-top: 10px solid $btn-primary;
    margin-top: 150px;
  }

  .no-border {
    border: 0;
    box-shadow: none;
    width: 50%;
  }

//   .disabled label {
//     color: grey;
//   }
  
//   .disabled button {
//     background-color: grey;
//   }
  
    .mk-terms{
        color: $btn-primary;
    
        &:hover{
        color: $btn-secondary;
        }
    }
  

  select.mk-select {
    width: 340px;
    height: 36px;
    background: url('/assets/images/select-webkit-box.png') no-repeat right;
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    &::after {
      content: '<>';
      font: 17px "Consolas", monospace;
      color: #333;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 11px;
      /*Adjust for position however you want*/
  
      top: 18px;
      padding: 0 0 2px;
      border-bottom: 1px solid #999;
      /*left line */
  
      position: absolute;
      pointer-events: none;
    }
  }
  