@import "../../scss/bootstrap";
@import "../../scss/forms/medkonnect-form";
@import "../../scss/forms/checkbox";
@import "../../scss/forms/radio";

.haveppe {
    background-color: $background-color;
    font-family: 'Nunito-Regular';
  }

  .firstCard {
    border-top: 10px solid $btn-primary;
    margin-top: 150px;
  }

  .no-border {
    border: 0;
    box-shadow: none;
    width: 50%;
  }

//   .disabled label {
//     color: grey;
//   }

//   .disabled button {
//     background-color: grey;
//   }

.mk-terms{
    color: $btn-primary;

    &:hover{
    color: $btn-secondary;
    }
}

.carousel-caption{
  @include media-breakpoint-up(sm){
   top: 60%;
 transform: translateY(-60%);
 bottom: initial;
}
 }

 .item {
   @include media-breakpoint-up(sm){
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   transform-style: preserve-3d;
 }
 }

 .firstCard {
  border-top: 10px solid $btn-primary;
    margin-top: 100px;
  
}

.titleImage{
  @include media-breakpoint-up(lg){
    height: 250px;
  }
}