@import "../../scss/bootstrap";
@import "../../scss/forms/medkonnect-form";
@import "../../scss/forms/checkbox";
@import "../../scss/forms/radio";

.haveppe {
    background-color: $background-color;
    font-family: 'Nunito-Regular';
  }

  .firstCard {
    border-top: 10px solid $btn-primary;
    margin-top: 150px;
  }

  .no-border {
    border: 0;
    box-shadow: none;
    width: 50%;
  }

//   .disabled label {
//     color: grey;
//   }

//   .disabled button {
//     background-color: grey;
//   }

.mk-terms{
    color: $btn-primary;

    &:hover{
    color: $btn-secondary;
    }
}
