<div class="haveppe">
  <ncov-dialog></ncov-dialog>
  <div class = "container-fluid no-padding">
    <div class="row mb-5">
      <div class="col-md-12 px-0 item">
        <img src="assets/images/hospitalHeader.png" alt="hospitalHeader" class="w-100" />
        <div class="carousel-caption">
          <h1 class="d-none d-sm-block pb-lg-4 headerText header">Sign Up</h1>
        </div>
      </div>
    </div>
    <div class="mk-form__form pb-5">
      <form [formGroup] = "haveppeForm">
        <!-- <div formGroupName="materialsRequired">
          <div class="form-group formStyle p-5 firstCard mb-5">
            <label class="mk-required" for="PPE">What Do You Wish to Provide?</label>
            <div *ngFor="let ppe of haveppeForm.controls.materialsRequired['controls']; let i = index " [formGroupName]="i">
              <div class="row" *ngIf="ppeList[i].ppe !== 'Others'">
                <div class="form-check col-lg-8 col-md-6 mt-2 mb-2 checkbox">
                  <label class="mk-checkbox-container pt-3" for="defaultCheck{{i}}">
                    <input id="defaultCheck{{i}}" type="checkbox" [formControlName]="ppeList[i].ppe" (change)="onTogglePpe(i)" >
                    <i class="checkmark mt-3"></i>
                    {{ppeList[i].ppe}}
                  </label>
                </div>
                <div class="col-lg-4 col-md-6 mt-2 mb-md-2 mb-4">
                  <label>
                    <input ncovNumeric type="text" class="form-control" placeholder="Quantity" [formControlName]="ppeList[i].required" >
                  </label>
                </div>
              </div>
              <div class="row" *ngIf="ppeList[i].ppe === 'Others'">
                <div class="form-check col-lg-4 col-md-6 mt-2 mb-2 checkbox">
                  <label class="mk-checkbox-container pt-3" for="defaultCheck{{i}}">
                    <input id="defaultCheck{{i}}" type="checkbox" [formControlName]="ppeList[i].ppe" (change)="onTogglePpe(i)">
                    <i class="checkmark mt-3"></i>
                    {{ppeList[i].ppe}}
                  </label>
                </div>
                <div class="col-lg-4 col-md-6 mt-2 mb-md-2 mb-4">
                  <input ncovAlphaNumeric type="text" class="form-control no-border w-100" placeholder="Other PPE Item" [formControlName]="ppeList[i].otherPpe" (change)="onTogglePpe(i)" >
                </div>
                <div class="col-lg-4 col-md-6 mt-2 mb-md-2 mb-4">
                  <input ncovNumeric type="text" class="form-control" placeholder="Quantity" [formControlName]="ppeList[i].required">
                </div>
              </div>
            </div>
            <small *ngIf="!ppeItemSelected" class="text-danger d-block">Please select atleast one PPE item</small>
            <button type="button" (click)="toggleAdd($event.target)" class="mk-btn-sm mk-btn-primary px-3 px-md-4 mt-5">Add</button>
          </div>
        </div> -->

        <div class="form-group formStyle p-5 firstCard mb-5">
          <label for="InputName" class="mk-required">Full Name</label>
          <input ncovAlphaNumeric id="InputName" type="text" class="form-control mt-md-5 mt-2 no-border" aria-describedby="Yourname"
            placeholder="Your name" formControlName="name">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          <small class="text-danger" *ngIf="this.haveppeForm.controls.name.touched && this.haveppeForm.controls.name.errors?.required" >
            This field is required
          </small>
        </div>

        <div class="form-group formStyle p-5 mt-md-5 mb-5">
          <label for="inputNumber" class="mk-required">Phone number</label>
          <input ncovNumeric id="inputNumber" type="text" class="form-control mt-md-5 mt-2 mr-3 no-border" placeholder="Your Number"
            formControlName="phoneNo">
            <small class="text-danger" *ngIf="this.haveppeForm.controls.phoneNo.touched && this.haveppeForm.controls.phoneNo.errors?.required" >
              This field is required
            </small>
          </div>

                  <div class="form-group formStyle p-5 mt-md-5 mb-5">
          <label for="address">Address(Optional)</label>
          <input type="address" id="address" class="form-control mt-md-5 mt-2 no-border" placeholder="Delivery Address"
            formControlName="address">
            <small class="text-danger" *ngIf="haveppeForm.controls.address.touched && haveppeForm.controls.address.errors?.required">This is a required field</small>
        </div>
        <div class="form-group formStyle p-5 mt-md-5 mb-5">
          <label class="mk-required" for="state">State</label>
          <select class="mk-select" formControlName="state" id="state" >
            <option class="mk-select-option" *ngFor="let state of states" [value]="state">{{state}}</option>
          </select>
        </div>
        <div class="form-group formStyle  p-5 mt-md-5 mb-5">
          <label class="mk-required" for="city">City</label>
          <input ncovAphaNumeric id="ncovAlphaNumeric" type="city" class="form-control mt-md-5 mt-2 no-border" placeholder="City"
            formControlName="city">
            <small class="text-danger" *ngIf="haveppeForm.controls.city.touched && haveppeForm.controls.city.errors?.required">This is a required field</small>
        </div>

          <div class="form-group formStyle p-5 mt-md-5 mb-5">
            <label for="pinCode" class="mk-required">Pincode</label>
            <input ncovNumeric id="pinCode" type="pincode" class="form-control mt-md-5 mt-2 no-border" placeholder="Pincode"
              formControlName="pinCode">
              <small class="text-danger" *ngIf="this.haveppeForm.controls.pinCode.touched && this.haveppeForm.controls.pinCode.errors?.required" >
                This field is required
              </small>
            </div>
  
          <div class="form-group formStyle  p-5 mt-md-5 mb-5">
            <label for="registered">Is Your Organisation Registered? Enter Registeration Number</label>
            <small class="form-text text-muted">It is preferable to provide a registration number for verification purposes. 
              Please leave the field blank if you are not registered.</small>
            <input ncovAlphaNumeric id="registered" type="registrationNo" class="form-control mt-md-5 mt-2 no-border" placeholder="Registeration Number."
            formControlName="companyRegnNo">
          </div>
  
          <!-- <div class="form-group formStyle p-5 mt-md-5 mb-5">
            <label for="homemade PPE" class="mk-required">Is Your PPE Certified (ISO, ICMR, ICMED) ?</label>
            <div class="px-3 px-md-4 mt-md-5 mt-2">
              <label for="homeMade_true" class="mk-radio-yes mk-radio-container" >
                <input type="radio" id="homeMade_true" value="true" formControlName="homeMade">
                <i class="radiomark"></i>
                Yes
              </label>
              <label for="homeMade_false" class="mk-radio-no mk-radio-container">
                <input type="radio" id="homeMade_false" value="false" formControlName="homeMade">
                <i class="radiomark"></i>
                No
              </label>
            </div>
            <small class="text-danger" *ngIf="this.haveppeForm.controls.homeMade.touched && this.haveppeForm.controls.homeMade.errors?.required" >
              This field is required
            </small>
          </div> -->
  
          <div class="form-submit">
            <div class="terms-condition">
              <label class="mk-checkbox-container pt-3" for="termsCondition">
                <input id="termsCondition" type="checkbox" formControlName="tnc" >
                <i class="checkmark mt-3"></i>
                I have read and accepted the <span [routerLink]="'/tnc'" class="mk-terms">Terms and Conditions</span>
              </label>
            </div>
            <div class="email-copy-text mt-3">
              <small class="font-weight-bold">
                Medkonnect does not take any responsibility for the sale and transportation of any medical equipment or device. 
                All cost and liabilities related to the transportation,
                including but not limited to vehicle operations and loading of the products shall be borne by the supplier.
              </small>
            </div>
            <div class="email-copy-text mt-3">
              <small>A copy of your responses will be emailed to the address you provided.</small>
            </div>
            <button type="submit" class="mk-btn-primary px-3 px-md-4 mt-5"
              (click)="onSubmit()" [disabled]="!haveppeForm.valid || !haveppeForm.controls.tnc.value" >Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>
