.ncov-modal {
  @import "../../../../scss/bootstrap";

  position: absolute;
  left: 50%;

  &::after {
    content: '';
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }

  &-content {
    padding: 20px;
    position: relative;
    top: 200px;
    left: -50%;
    height: auto;
    background-color: transparent;
    border: none;
    z-index: 999;
  }

  &__action-btn {

    border: none;
    color: $white;
    height: 40px;
    border: 1px solid $white;

    &-primary {
      background-color: rgba($color: $btn-primary, $alpha: 0.8);

      &:hover {
        background-color: rgba($color: $btn-primary, $alpha: 1);
      }
    }

    &-secondary {
      background-color: rgba($color: $btn-secondary, $alpha: 0.8);

      &:hover {
        background-color: rgba($color: $btn-secondary, $alpha: 0.4);
      }
    }
  }

  &__cross-btn {
    color: $white;
  }

  .card {
    box-shadow: 0.2px 0.6px 0.5px 0.5px;
  }

  .card-body {
    min-height: 96px;
  }

  .card-header {
    background-color: rgba($color: $btn-primary, $alpha: 0.8);
    color: $white;
  }

}
