<div class="medkonnect-landing">
  <div class="medkonnect-landing__container row mx-0">
    <!-- Request Provide PPE from md screens -->
    <div class="d-none d-lg-block col-12 col-lg-5 pl-5">
      <div class="medkonnect-landing__request-ppe">
        <div class="my-auto pt-5">
          <h1 class="header">Are you in Need of PPE?</h1>
          <p class="text">
            Your safety is our primary concern. Request the protective equipments you need. We will help actively connect PPE suppliers to your need and ensure you get what you need on time
          </p>
          <div>
            <button class="mk-btn-primary d-block mr-auto" (click)="onRoute('need')" >REQUEST PPE</button>
          </div>
        </div>
      </div>
      <div class="medkonnect-landing__provide-ppe">
        <div>
          <h1 class="header">Do you wish to supply PPE?</h1>
          <p class="text">
            We will get you in touch with Medical professionals who critically need PPE pan India, helping you deliver what our healthcare heroes need the most as efficiently as possible.
          </p>
          <div>
            <button class="mk-btn-primary d-block mr-auto" (click)="onRoute('have')">PROVIDE PPE</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Request Provide PPE from md screens Ends -->
    <div class="col-12 col-lg-7 px-0">
      <div class="d-flex justify-content-end">
        <img class="medkonnect-landing__img-doctor d-none d-lg-block" src="assets/images/doctor-lg-img.png" alt="Doctor" />
        <img class="medkonnect-landing__img-doctor d-block d-lg-none" src="assets/images/doctor-md-img.png" alt="Doctor" />
      </div>
    </div>
    <!-- Request Provide PPE from sm screens Ends -->
    <div class="d-block d-lg-none col-12 col-lg-7 px-3">
      <div class="medkonnect-landing__request-ppe">
        <div>
          <h1 class="header">Are you in Need of PPE?</h1>
          <p class="text">
            Your safety is our primary concern. Request the protective equipments you need. We will help actively connect PPE suppliers to your need and ensure you get what you need on time
          </p>
          <div>
            <button class="mk-btn-primary d-block mx-auto" (click)="onRoute('need')">REQUEST PPE</button>
          </div>
        </div>
      </div>
      <div class="medkonnect-landing__provide-ppe">
        <div class="pb-5">
          <h1 class="header">Do you wish to supply PPE?</h1>
          <p class="text">
            We will get you in touch with Medical professionals who critically need PPE pan India, helping you deliver what our healthcare heroes need the most as efficiently as possible.
          </p>
          <div>
            <button class="mk-btn-primary d-block mx-auto" (click)="onRoute('have')">PROVIDE PPE</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Request Provide PPE from sm screens Ends -->
  </div>
</div>
