<div class="personal-details">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light w-100">
      <span class="navbar-brand pl-md-3 pl-2">Personal Details</span>
    </nav>
    <div class="mt-5">
      <p>FULL NAME</p>
      <p></p>
      <p>Email: <span>{{personalData.email}}</span></p>
      <p>City: <span>{{personalData.city}}</span></p>
      <p>State: <span>{{personalData.state}}</span></p>
      <p>Address: <span>{{personalData.address}}</span></p>
      <p>Pin Code: <span>{{personalData.pin_code}}</span></p>
      <p>Phone number: <span>{{personalData.phone_no}}</span></p>
      <p>Company Registration Number: <span>{{personalData.company_registration_number}}</span></p>
    </div>
  </div>
</div>
