@import '../../scss/bootstrap';
.about-us {
  .page-header {
    background: linear-gradient(
        90deg,
        #2c3a81 0%,
        rgba(35, 36, 37, 0.705681) 0%,
        rgba(18, 67, 194, 0.1) 100%
      ),
      rgba(0, 0, 0, 0.7);
    img {
      z-index: -1;
      position: relative;
    }
  }
}
