/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import './scss/bootstrap';

.container {
  padding: 0;
}

.text {
  font-family: 'Nunito-Regular';
}

.header {
  font-family: 'Montserrat-Regular';
}

.mk-checkbox {
  width: 24px;
  height: 24px;
}


