
@import "./variables";
@import "./fonts";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.mk-btn-xs {
  width: 80px !important;
}

.mk-btn-sm {
  width: 128px !important;
}

.mk-btn-md {
  width: 176px !important;
}

.mk-btn-primary {
  width: 208px;
  height: 32px;
  background-color: $btn-primary;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 3px 3px $gray-500;
  color: $white;
  font-family: "Nunito-Regular";
  font-size: $font-size-base;
  font-weight: $font-weight-bolder;

  &:hover {
    background-color: $btn-secondary;
  }

  &[disabled] {
    background-color: gray;
    pointer-events: none;
  }

  @include media-breakpoint-down(md) {
    font-size: 0.875 * $spacer;
  }
}

